{{#if verified}}
<div>
    <center>
        <h1>
            <strong>Hello {{name}}, Your Account is Activated !</strong>
        </h1>
    </center>
</div> {{else}}
<div>
    <center>
        <h1>
            <strong>Hello {{name}}, Welcome !</strong>
        </h1>
        <div>
            Please Visit Link To Activate Your Account:
            <a href={{link}}>Link</a>
            <br>
            <br> Or Else Use Token Provided Below To Activate
            <br>
            <br>Token:
            <strong>
                {{token}}
            </strong>
        </div>
    </center>
</div>
{{/if}}